<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServicioFacturacionSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="ServicioFacturacionSoapBinding1" />
                <binding name="ServicioFacturacionCodigosSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="ServicioFacturacionCodigosSoapBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://pilotosiatservicios.impuestos.gob.bo/v2/ServicioFacturacionCompraVenta"
                binding="basicHttpBinding" bindingConfiguration="ServicioFacturacionSoapBinding"
                contract="ServiceReference1.ServicioFacturacion" name="ServicioFacturacionPort" />
            <endpoint address="https://pilotosiatservicios.impuestos.gob.bo/v2/FacturacionCodigos"
                binding="basicHttpBinding" bindingConfiguration="ServicioFacturacionCodigosSoapBinding"
                contract="ServiceReference2.ServicioFacturacionCodigos" name="ServicioFacturacionCodigosPort" />
        </client>
    </system.serviceModel>
</configuration>